//  PALETA DE COLORES PERSONALIZADA
// Sobrescribiendo las variables por defecto de Bootstrap

$primary: #7A3B4F;    // Burdeos 
$secondary: #3B7A41;  // Verde oscuro
$dark: #3B2B30;       // Burdeos casi negro
$light: #fdebf1;      // Rosa muy suave
$success: #A4CFAB;    // Verde suave
$info: #99FFA3;       // Menta brillante

// Cambiar ligeramente el color de fondo de toda la web para que no sea blanco nuclear
$body-bg: #fcf9fa; // Blanco muy suave con un toque de rosa <3

@import 'bootstrap/scss/bootstrap';

.banner-img {
    object-fit: cover;
    object-position: center;
}

.transition-transform { transition: transform 0.3s ease; }
.transition-transform:hover { transform: scale(1.05); }
.hover-opacity-25:hover { opacity: 0.25 !important; }
.cursor-pointer{
    cursor: pointer;
}

.tarjeta-categoria {
    .transition-transform { transition: transform 0.4s ease-in-out; }
    .hover-opacity-25 { transition: opacity 0.4s ease-in-out; }
    &:hover {
        .transition-transform { transform: scale(1.05); }
        .hover-opacity-25 { opacity: 0.25 !important; }
    }
}

.hide-scrollbar {
    scrollbar-width: none !important; 
    -ms-overflow-style: none !important; 
}

.hide-scrollbar::-webkit-scrollbar {
    display: none !important;
}

.arrow-icon {
    transition: transform 0.3s ease; /* Para que el giro sea suave */
}

/* Cuando el botón NO tiene la clase 'collapsed' (es decir, está abierto) */
[data-bs-toggle="collapse"]:not(.collapsed) .arrow-icon {
    transform: rotate(90deg);
}
.producto-card {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
    }
}

.tracking-wide {
    letter-spacing: 0.1em;
}

.tracking-widest {
    letter-spacing: 0.2em;
    font-size: 0.8rem;
}

.producto-cesta {
    transition: background-color 0.3s ease;
    border-color: #f1f5f9 !important;
    
    &:hover {
        background-color: #fafafa; 
    }
}

.btn-hover-scale {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    }
}

.animate__fadeInDown {
    animation: fadeInDown 0.5s ease-out;
}

@keyframes fadeInDown {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}


// Estilos para pagina de detalle del producto
.hover-scale:hover { transform: scale(1.02); }
.tracking-widest { lg-spacing: 0.2em; }
.btn-check:checked + .btn-outline-dark {
    background-color: #000;
    color: #fff;
}

.ls-1 { letter-spacing: 1px; }
.x-small { font-size: 0.7rem; }
.transition-all { transition: all 0.3s ease; }
.hover-shadow:hover { transform: translateY(-3px); box-shadow: 0 10px 20px rgba(0,0,0,0.08) !important; }
@media (min-width: 768px) { .border-end-md { border-right: 1px solid #eee; } }


